<div class="address-input-container">
  <div class="form-group">
    <p-floatlabel>
      <input
        pInputText
        [id]="id()"
        #addressInput
        type="text"
        [formControl]="addressControl"
        [class.ng-invalid]="addressControl.invalid && addressControl.touched"
        [readonly]="readonly()"
        autocomplete="off"
      />
      <label [for]="id()">
        {{ label() }}
        @if (required()) {
          <span>*</span>
        }
      </label>
    </p-floatlabel>

    @if (showHelperText() && !isGoogleMapsLoading) {
      <small class="help-text">
        Start typing your address and select from the suggestions
      </small>
    }

    @if (showHelperText() && isGoogleMapsLoading) {
      <small class="help-text">Loading address suggestions...</small>
    }

    @if (addressControl.invalid && addressControl.touched) {
      <small class="p-error">
        @if (addressControl.hasError("required")) {
          {{ getErrorMessage("required") }}
        }
        @if (addressControl.hasError("invalidAddress")) {
          {{ getErrorMessage("invalidAddress") }}
        }
      </small>
    }
  </div>
</div>
