<div class="address-input-container">
  <div class="form-group">
    <p-iftalabel>
      <input
        #addressInput
        pInputText
        type="text"
        autocomplete="off"
        class="w-full"
        [id]="id()"
        [formControl]="addressControl"
        [class.ng-invalid]="addressControl.invalid && addressControl.touched"
        [readonly]="readonly()"
      />
      <label [for]="id()">
        {{ label() }}
        @if (required()) {
          <span>*</span>
        }
      </label>
    </p-iftalabel>

    @if (showHelperText() && !isGoogleMapsLoading) {
      <div class="help-text">
        Start typing your address and select from the suggestions
      </div>
    }

    @if (showHelperText() && isGoogleMapsLoading) {
      <div class="help-text">Loading address suggestions...</div>
    }

    @if (addressControl.invalid && addressControl.touched) {
      <div class="error-message">
        @if (addressControl.hasError("required")) {
          {{ getErrorMessage("required") }}
        }
        @if (addressControl.hasError("invalidAddress")) {
          {{ getErrorMessage("invalidAddress") }}
        }
      </div>
    }
  </div>
</div>
